@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 70%; }

body {
  background-color: #ffd162; }

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-55%);
  margin-top: 3rem;
  display: inline-block;
  font-family: "IBM Plex Sans", sans-serif, sans-serif;
  text-transform: uppercase; }
  .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px; }

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323; }

.red:hover {
  background-color: #FF6656; }

.drum-container {
  width: 45rem;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

#drums {
  width: 100%; }

.animate--beat {
  animation-name: beat;
  animation-duration: .5s;
  transform-origin: 50% 50%; }

.move-cymbal-down {
  animation-name: left-top;
  animation-duration: .5s;
  transform-origin: 50% 50%; }

.cymbal-shake {
  animation-name: shake;
  animation-duration: 1s;
  transform-origin: 50% 50%; }

@keyframes beat {
  0% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes left-top {
  100% {
    transform: translateY(1rem); } }

@keyframes rotate-cymbal {
  0% {
    transform: rotateX(10deg); }
  50% {
    transform: rotateX(0); }
  100% {
    transform: rotateX(-10deg); } }

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0); }
  20%, 80% {
    transform: translate3d(0, 2px, 0); }
  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0); }
  40%, 60% {
    transform: translate3d(0, 4px, 0); } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hide {
  visibility: hidden;
  opacity: 0; }

.show {
  visibility: visible;
  opacity: 1; }

.main-bg-color {
  background-color: #f1fba6; }

.fade-in {
  animation: fade-in 2s; }

.start-overlay {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #ffd162;
  animation: fade-out 2s; }
  .start-overlay h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #e50000;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border-bottom: #e50000 4px solid;
    line-height: 7rem; }
