@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,700');
@import "reset";
// Variables
$main-font: 'IBM Plex Sans', sans-serif;
$brown: #330808;
$beige: #f1fba6;
$orange-dark: #ff841f; 
$orange-light: #ffd162;
$orange-red: #e50000;


// Default size setting
html {
    font-size: 70%;
}

body {
    background-color: $orange-light;
}
@import "buttons";
@import "drum";
@import "animations";
@import "utilities";
@import "overlay";
